<div class="contentText">
<% 
for (var i in files) {
  var name = files[i];
  var url = '/play?key=' + encodeURIComponent(name);
%>
          <p><a href="<%= url %>"><%= name %></a></p>
<% } %>
</div>
