<div class="contentText">
<% 
for (var i in files) {
  var name = files[i];
  if (name.substr(name.length - 4, 4) == '.mp4') {
    var url = '/play/' + encodeURIComponent(name);
%>
          <p><a href="<%= url %>"><%= name %></a></p>
<% }} %>
</div>
